<footer class=" bottom-0">
  <div class="about-footer py-5 text-center">
    <div class="container py-4 m-auto">
      <div class="row ">
        <div class="col-md-4 location  ">
          <h3 class="my-2">LOCATION</h3>
          <p>2215 John Daniel Drive</p>
          <span>Clark, MO 65243</span>
        </div>
        <div class="col-md-4 social-links">
          <h3>AROUND THE WEB</h3>
          <ul class="d-flex justify-content-center my-3">
            <li><i class="fa-brands fa-facebook-f"></i></li>
            <li><i class="fa-brands fa-twitter"></i></li>
            <li><i class="fa-brands fa-linkedin-in"></i></li>
            <li><i class="fa-solid fa-globe"></i></li>
          </ul>
        </div>
        <div class="col-md-4 freelance">
          <h3 class="mb-3">ABOUT FREELANCER</h3>
          <p>
            Freelance is a free to use, licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copy-right py-4">
    <p class=" text-center">Copyright © Your Website 2021</p>
  </div>
</footer>
