<section class="contact">
  <div class="portfolio-head mb-5">
    <h2 class="text-center mt-4">CONTACT SECTION</h2>
    <div class="star-icon text-center"><i class="fa-solid fa-star"></i></div>
  </div>
  <form
  novalidate=""
  action=""
  class="w-50 p-3 mx-auto mt-5"
>
  <input
    id="userName"
    type="text"
    placeholder="userName"
    name="userName"
    class="form-control mb-4 border-0 border-bottom py-3 position-relative ng-pristine ng-valid"
  /><input
    id="userAge"
    type="text"
    placeholder="userAge"
    name="userName"
    class="form-control mb-4 border-0 border-bottom py-3 position-relative"
  /><input
    id="userEmail"
    type="text"
    placeholder="userEmail"
    name="userName"
    class="form-control mb-4 border-0 border-bottom py-3 position-relative"
  /><input
    id="userPassword"
    type="text"
    placeholder="userPassword"
    name="userName"
    class="form-control mb-4 border-0 border-bottom py-3 position-relative"
  /><button class="btn mt-4 text-white mb-5">
    send Message
  </button>
</form>

</section>
