nav{

  background-color: #2C3E50 !important;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  top: 0;

}
.logo h1 a{
  color: white;
  font-size: 32px;
  line-height: 48px;
  margin: 0px 16px 0px 0px;
  padding: 5px 0px;
  font-weight: 700;
}
nav ul li a{
  font-size:16px;
  padding:8px;
  font-weight:700;
  color: white !important;
}
.active{
  background-color: #1ABC9C;
  border-radius: 8px;
}
