<section class="portfolio w-100 my-3">
  <div
    class="container d-flex align-items-center justify-content-center flex-column h-100"
  >
  <div class="portfolio-head mb-5">
    <h2 class="text-center">PORTFOLIO COMPONENT</h2>
    <div class="star-icon text-center"><i class="fa-solid fa-star"></i></div>
  </div>
    <div class="portfolio-content">
      <div class="row">
        <div class="col-lg-4 p-3 col-md-6 ">
          <div class="content position-relative">
            <img
              src="../../assets/images/poert1.png"
              alt=""
              class="w-100 block m-0 p-0 rounded-3"
            />
            <div
              class="layer rounded-3 position-absolute w-100 h-100 d-flex justify-content-center align-items-center"
            >
              <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-4 p-3 col-md-6">
          <div class="content position-relative">
            <img
              src="../../assets/images/port2.png"
              alt=""
              class="w-100 block m-0 p-0 rounded-3"
            />
            <div
              class="layer rounded-3 position-absolute w-100 h-100 d-flex justify-content-center align-items-center"
            >
              <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-4 p-3 col-md-6">
          <div class="content position-relative">
            <img
              src="../../assets/images/port3.png"
              alt=""
              class="w-100 block m-0 p-0 rounded-3"
            />
            <div
              class="layer rounded-3 position-absolute w-100 h-100 d-flex justify-content-center align-items-center"
            >
              <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-4 p-3 col-md-6">
          <div class="content position-relative">
            <img
              src="../../assets/images/poert1.png"
              alt=""
              class="w-100 block m-0 p-0 rounded-3"
            />
            <div
              class="layer rounded-3 position-absolute w-100 h-100 d-flex justify-content-center align-items-center"
            >
              <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-4 p-3 col-md-6">
          <div class="content position-relative">
            <img
              src="../../assets/images/port2.png"
              alt=""
              class="w-100 block m-0 p-0 rounded-3"
            />
            <div
              class="layer rounded-3 position-absolute w-100 h-100 d-flex justify-content-center align-items-center"
            >
              <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-4 p-3 col-md-6 ">
          <div class="content position-relative">
            <img
              src="../../assets/images/port3.png"
              alt=""
              class="w-100 block m-0 p-0 rounded-3"
            />
            <div
              class="layer rounded-3 position-absolute w-100 h-100 d-flex justify-content-center align-items-center"
            >
              <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="overlay-container d-none bg-opacity-25 bg-primary w-100 h-100  position-fixed top-0 z-3 d-flex align-items-center justify-content-center"
  id="overlayContainer"
    >
    <div id="imgContainer" class="container d-flex  justify-content-center">
      <div class="img-container">
        <img src="../../assets/images/poert1.png" alt="" class="w-100" />
      </div>
    </div>
  </div>
</section>
